.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
}

.loading {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px !important;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 14px !important;
  }
}

@media (max-width: 647px) {
  html {
    font-size: 12px !important;
  }
}
