.main-contact {
  width: 100%;
  background-image: url('../assets/contact-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.form-container {
  padding-top: 15rem;
  padding-bottom: 20rem;
}

@media screen and (max-width: 991px) {
  .main-contact {
    min-height: unset;
  }
  .form-container {
    padding-top: 10rem !important;
    padding: 1rem;
  }
}
