.home-header{
    background: url('../assets/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
    padding-top: 8rem;
    position: relative;
}

/* .header{
    background: url('../assets/about-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
} */

.slogan{
    width: 50%;
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
}