.rent-section {
  font-family: 'Montserrat', sans-serif;
}

.categories {
  transform: translate(-50%, -50%);
  top: 515px;
  left: 50%;
  width: 80%;
  display: flex;
  justify-content: center;
}

.categories form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  display: inline-block;
}

.custom-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #092648;
  background-color: white;
}

.custom-checkbox:checked + .custom-label::before {
  background-color: #092648;
}

.custom-label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 6px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.coverImg {
  width: 100%;
  height: 23rem;
  object-fit: cover;
}

.card-text {
  font-size: 0.8rem !important;
}

.catalog-section {
  font-family: 'Montserrat', sans-serif;
  margin-top: 10rem;
}

@media (max-width: 991px) {
  .categories form {
    column-gap: 5px;
    row-gap: 20px;
  }

  .see-all {
    width: 100%;
  }
}

@media (max-width: 647px) {
  .categories form {
    width: unset;
    align-items: flex-start;
    gap: 5px;
  }

  .checkbox-group {
    flex: 1 1 calc(50% - 5px);
  }
}

@media (max-width: 440px) {
  .categories {
    margin: 2rem 0;
    position: unset !important;
    transform: none;
    width: 100%;
    padding: 1.2rem !important;
  }

  .categories label {
    font-size: 1rem !important;
  }

  .catalog-section {
    margin-top: 0;
  }

  .checkbox-group {
    flex: unset;
  }

  .custom-label {
    padding-left: 18px;
  }

  .custom-label::before {
    width: 15px;
    height: 15px;
  }
}
